<!DOCTYPE html>
<html>
<head>
  <title>Backbone</title>
  <%= stylesheet_link_tag 'flutie', 'application', '960', 'jquery.ui' %>
  
  <%= javascript_include_tag :defaults, 'jquery.ui', 'knockout', 'knockout.mapping', 'jquery-ui-timepicker-addon' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
